@{
    ViewBag.Title = "Uptime";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    Server.Objects.UptimeCalculator calc = new Server.Objects.UptimeCalculator();
    var uptime = calc.Calculate();
    uptime.UptimePercent = Math.Ceiling(uptime.UptimePercent * 10000) / 100;
}
<h2>Server Uptime</h2>
<table>
    <tr>
        <td>Total uptime: </td>
        <td>@uptime.TimeOnline</td>
    </tr>
    <tr>
        <td>Total downtime: </td>
        <td>@uptime.TimeOffline</td>
    </tr>
    <tr>
        <td>Measurement start: </td>
        <td>@uptime.MeasurementStart</td>
    </tr>
    <tr>
        <td>Uptime percent: </td>
        <td>@uptime.UptimePercent</td>
    </tr>
</table>