<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Shared.Properties.Settings>
      <setting name="SInstallDirPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SHttpPort" serializeAs="String">
        <value>3393</value>
      </setting>
      <setting name="SHttpsPort" serializeAs="String">
        <value>3394</value>
      </setting>
      <setting name="SIISexConfigPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SIISexExe" serializeAs="String">
        <value />
      </setting>
    </Shared.Properties.Settings>
  </userSettings>
</configuration>