@model global::Server.Models.Admin.DaemonGroupsModel

@{
	ViewBag.Title = "Daemon Groups";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("DaemonGroups", "AdminDaemons", FormMethod.Post))
{
	@Html.HiddenFor(model => model.IdDaemon)

	<table style="width:100%">
		<tr>
			<th>Group name</th>
			<th>Belongs to group?</th>
		</tr>
		@for (var i = 0; i < Model.Groups.Count; i++)
		{
			@Html.HiddenFor(x => x.Groups[i].IdGroup)
			<tr>
				<td>@Model.Groups[i].GroupName</td>
				<td>@Html.CheckBoxFor(x => x.Groups[i].EntityBelongsIn)</td>
			</tr>
		}
	</table>

	<input type="submit" value="Confirm" />
}

