@model IEnumerable<global::Server.Models.DaemonPreSharedKey>

@{
	ViewBag.Title = "Preshared Keys";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table style="width:100%">
	<tr>
		<th>Key</th>
		<th>User</th>
		<th>Expires</th>
		<th>Used</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.PreSharedKey</td>
			<td>@item.User.Nickname</td>
			<td>@item.Expires</td>
			<td>@item.Used</td>
			<td><a href="/AdminPresharedKeys/DeletePresharedKey?id=@(item.Id)">Delete</a></td>
		</tr>
	}
</table>

<a href="/AdminPresharedKeys/NewPresharedKey">New Preshared Key</a>

