@model IEnumerable<global::Server.Models.Task>

@{
	ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>

<table style="width:100%">
	<tr>
		<th>ID</th>
		<th>Daemon ID</th>
		<th>Name</th>
		<th>Description</th>
	</tr>
	@foreach (var item in Model)
	{
	<tr>
		<td>@item.Id</td>
		<td>@(item.IdDaemon.HasValue ? item.IdDaemon.Value.ToString() : "no id")</td>
		<td>@item.Name</td>
		<td>@(item.Description ?? "null")</td>
	</tr>
	}
</table>