@*
	@model Server.Models.Admin.TaskLocationsModel


	@{
		ViewBag.Title = "New Time";
		Layout = "~/Views/Shared/_AdminLayout.cshtml";
	}

	<table style="width:100%">
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>
		@foreach (var i in Model.TaskLocations)
		{
			<tr>
				<td>@i.</td>
				<td>@i.Name</td>
				<td><a href="/AdminTasks/TaskInfo?id=@(i.Id)">Show Task Locations</a></td>
				<td><a href="/AdminTasks/EditTask?id=@(i.Id)">Edit</a></td>
				<td><a href="/AdminTasks/DeleteTask?id=@(i.Id)">Delete</a></td>
			</tr>
		}

</table>

<a href="/AdminTasks/NewTask?id=@(Model.Id)">New Task</a>
*@
