@model IEnumerable<global::Server.Models.Group>

@{
	ViewBag.Title = "Groups";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Groups</h2>

<table style="width:100%">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Description</th>
		<th>Is for daemons</th>
	</tr>
	@foreach (var item in Model)
	{
	<tr>
		<td>@item.Id</td>
		<td>@item.Name</td>
		<td>@item.Description</td>
		<td>@item.ForDaemons</td>
		<td><a href="/AdminGroups/GroupPermissions?id=@(item.Id)">Permissions</a></td>
		<td><a href="/AdminGroups/EditGroup?id=@(item.Id)">Edit</a></td>
		<td><a href="/AdminGroups/DeleteGroup?id=@(item.Id)">Delete</a></td>
	</tr>
	}
</table>
<a href="/AdminGroups/NewGroup">New Group</a>