@model IEnumerable<global::Server.Models.User>

@{
	ViewBag.Title = "Users";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table style="width:100%">
	<tr>
		<th>Nickname</th>
		<th>FullName</th>
	</tr>
	@foreach (var item in Model)
	{
	<tr>
		<td>@item.Nickname</td>
		<td>@item.FullName</td>
		<td><a href="/AdminDaemons/DaemonsByUser?id=@(item.Id)">Show Daemons</a></td>
		<td><a href="/AdminUsers/UserGroups?id=@(item.Id)">Groups</a></td>
		<td><a href="/AdminUsers/EditUser?id=@(item.Id)">Edit</a></td>
		<td><a href="/AdminUsers/DeleteUser?id=@(item.Id)">Delete</a></td>
	</tr>
	}
</table>

<a href="/AdminUsers/NewUser">New User</a>