@model IEnumerable<global::Server.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table style="width:100%">
	<tr>
		<th>ID</th>
		<th>Nickname</th>
		<th>FullName</th>
		<th>Hashed Password</th>
	</tr>
	@foreach (var item in Model)
	{
	<tr>
		<td>@item.Id</td>
		<td>@item.Nickname</td>
		<td>@item.FullName</td>
		<td>@item.Password</td>
	</tr>
	}
</table>