@model IEnumerable<global::Server.Models.User>

@{
	ViewBag.Title = "Users - List Page";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table style="width:100%">
	<tr>
		<th>Nickname</th>
		<th>FullName</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Nickname</td>
			<td>@item.FullName</td>
			<td>
				<button class="btn" formdata="get" type="submit"  formaction="/AdminUsers/AddEdit?id=@item.Id">Edit</button>
				<button class="btn" formdata="get" type="submit" href="/AdminUsers/Delete?id=@item.Id">Delete</button>
			</td>
		</tr>
	}
</table>