@model IEnumerable<global::Server.Models.UserGroup>

@{
    ViewBag.Title = "User Groups";
}

<h2>User groups</h2>

<table style="width:100%">
	<tr>
		<th>ID</th>
		<th>Group ID</th>
		<th>User ID</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Id</td>
			<td>@item.IdGroup</td>
			<td>@item.IdUser</td>
		</tr>
	}
</table>

