<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Daemon.LoginSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TimerDontBackup" value="True" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Daemon.LoginSettings>
            <setting name="SessionUuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCommunication" serializeAs="String">
                <value />
            </setting>
            <setting name="Uuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>http://localhost:57597</value>
            </setting>
            <setting name="SessionLengthMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SessionLengthPaddingMinutes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimerDebugOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreSharedKeyWithIdSemiColSep" serializeAs="String">
                <value>tRnhF0IfmkDrIZU6dbCusQ==;1</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
        </Daemon.LoginSettings>
    </userSettings>
</configuration>