@using global::Server.Objects

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData[MagicStrings.OPERATION_RESULT_MESSAGE] != null)
{
    <div class="alert alert-info">
        @TempData[MagicStrings.OPERATION_RESULT_MESSAGE]
    </div>
}

@RenderBody()